#auth {
    header {
        background-color: #FFF059;
        height: 238px;
        padding: 10px;
        nav {
            position: relative;
            display: flex;
            justify-content: space-around;
            #logo {
                a {
                    #img-0 {
                        @media only screen and (min-width: 601px) {
                            display: none
                        }
                    }
                    #img-1 {
                        @media only screen and (max-width: 600px) {
                            display: none
                        }
                    }
                }
            }
            #contato {
                a {
                    color: #333333;
                    font-family: Georgia, 'Times New Roman', Times, serif
                }
            }
        }
    }
    main {
        background-color: #EDEDED;
        height: 100%;
        align-items: center;
        justify-content: center;
        #wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            #container-form {
                background-color: #FFFFFF;
                position: relative;
                width: 424px;
                height: 471px;
                border-radius: 6px;
                padding: 63px;
                transform: translateY(-96px);
                .input-group {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    >#input-email {
                        border: #9D9D9D 1px solid; // teste
                        width: 100%;
                        padding: 23px 0;
                        border-radius: 6px;
                    }
                    >#btn-continuar {
                        background-color: #3483FA;
                        width: 100%;
                        padding: 23px;
                        border-radius: 6px;
                    }
                    >#btn-criar-conta {
                        background-color: #ffffff;
                        width: 100%;
                        padding: 23px;
                        border-radius: 6px;
                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                }
            }
        }
    }
    >footer {
        background-color: #fff;
        width: 100%;
        height: 87px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        justify-content: center;
        align-items: center;
        #privacidade {
            font-size: 14px;
            text-align: center;
            color: #000000cc;
        }
        #copyrigth {
            font-size: 16px;
            text-align: center;
            color: #7e7e7e;
        }
    }
}