#col_lateral {
    font-family: "Proxima Nova", -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    background-color: transparent;
    width: 368px;
    /* height: 1926px; */
    margin: 16px 0 0 48px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /*  */
    a,
    a:hover,
    a:link,
    a:visited {
        text-decoration: none;
    }
    /*  */
    .col_default {
        border-radius: 6px;
        width: 100%;
        padding: 24px 16px;
        background-color: rgb(255, 255, 255);
        border: 0.3px solid rgba(144, 144, 144, 0.418);
    }
    /* 
    PRIMEIRO CARD
     */
    #col_produto {
        /* height: 715px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*  */
        #col_novo_usado {
            color: rgba(0, 0, 0, .55);
            font-size: 14px;
            font-weight: 400;
        }
        #col_titulo {
            display: flex;
            /*  */
            #col_nome {
                width: 90%;
            }
            #col_favorito {
                width: 10%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-end;
                /*  */
                .col_coracao {
                    fill: #3483fa;
                    width: 22px;
                }
            }
        }
        #col_avaliacoes {
            margin-top: 10px;
            display: flex;
            align-items: center;
            /*  */
            /* #col_estrelas {} */
            #col_opnioes {
                margin-left: 5px;
                color: rgba(0, 0, 0, .55);
            }
        }
        #col_colocacao {
            margin-top: 10px;
            display: flex;
            align-items: center;
            /*  */
            #col_mais_vendido {
                background-color: #f73;
                padding: 3px;
                text-align: center;
                border-radius: 3px 4px;
                text-align: center;
                a {
                    color: #fff;
                    font-size: 14px;
                }
            }
            #col_ranking {
                font-size: 12px;
                font-weight: 400;
                padding: 0 0 0 8px;
                text-transform: none;
                /*  */
                a {
                    color: #3483fa;
                }
            }
        }
        #col_precos {
            margin-top: 10px;
            #col_preco_anterior {
                margin: 2px;
                color: rgba(0, 0, 0, .55);
                text-decoration: line-through;
            }
            #col_preco_atual_wrap {
                display: flex;
                align-items: center;
                /*  */
                #col_preco_atual {
                    font-size: 36px;
                    color: rgba(0, 0, 0, .9);
                    font-weight: 100;
                }
                #col_preco_desconto {
                    margin-left: 10px;
                    font-size: 18px;
                    color: #00a650;
                }
            }
            #col_parcelamento_wrap {
                #col_parcelamento {
                    color: #00a650;
                }
            }
        }
        #col_meios_pagamentos {
            margin-top: 10px;
            a {
                color: #3483fa;
            }
        }
        #col_frete {
            margin-top: 10px;
            display: flex;
            height: 80px;
            /*  */
            #col_frete_icon {
                width: 10%;
                svg {
                    fill: #00a650;
                    margin-top: 5px;
                }
            }
            #col_frete_wrap {
                #col_frete_wrap_2 {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    /*  */
                    #col_line_1 {
                        color: #00a650;
                        #col_full {
                            font-weight: bolder
                        }
                        #col_icon_arrow {
                            color: rgba(0, 0, 0, 0.55);
                        }
                    }
                    #col_line_2 {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.55);
                    }
                    #col_line_3 {
                        font-size: 14px;
                        a {
                            color: #3483fa;
                        }
                    }
                }
            }
        }
        #col_descicao_cor {
            margin-top: 25px;
        }
        #col_descicao_voltagem {
            margin-top: 10px;
        }
        #col_estoque {
            margin-top: 40px;
        }
        #col_quantidade {
            margin-top: 29px;
        }
    }
    #col_btn_wrap {
        width: 100%;
        margin-top: 20px;
        .col_btn {
            //estilo defalt
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            transition: all 0.1s linear;
            font-weight: bold;
            border-radius: 6px;
        }
        #col_btn_comprar {
            background-color: #3483fa;
            color: white;
            &:hover {
                background-color: #1b6ce6;
            }
        }
        #col_btn_add_carrinho {
            margin-top: 6px;
            background-color: #d2e4ff;
            color: #3483fa;
        }
    }
    #col_produto_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        /*  */
        .col_footer_item {
            display: flex;
            margin-top: 20px;
            /*  */
            .col_footer_icon {
                width: 38px;
                fill: rgba(0, 0, 0, .55);
                svg {
                    height: 20px;
                    width: 20px;
                }
            }
            .col_footer_text {
                width: 100%;
                color: #0000008c;
                >a {
                    color: #3483fa;
                }
            }
        }
    }
    /* ================= */
    #col_loja {
        height: 308px;
    }
    /* ================= */
    #col_devolucao {
        height: 875px;
        /*  */
    }
}