#col_lateral {
    background-color: transparent;
    width: 368px;
    margin: 16px 0 0 48px;
    position: relative;
    /*  */
    a,
    a:hover,
    a:link,
    a:visited {
        text-decoration: none;
    }
    /*  */
    .col_default {
        border-radius: 6px;
        width: 100%;
        padding: 24px 16px;
        background-color: rgb(255, 255, 255);
        border: 0.3px solid rgba(144, 144, 144, 0.418);
    }
    /* 
    PRIMEIRO CARD
     */
    #col_produto {
        /* height: 715px; */
        display: none; // mudar para flex
        flex-direction: column;
        justify-content: space-around;
        /*  */
        #col_novo_usado {
            color: rgba(0, 0, 0, .55);
            font-size: 14px;
            font-weight: 400;
        }
        #col_titulo {
            display: flex;
            /*  */
            #col_nome {
                width: 90%;
            }
            #col_favorito {
                width: 10%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-end;
                /*  */
                .col_coracao {
                    fill: #3483fa;
                    width: 22px;
                }
            }
        }
        #col_avaliacoes {
            margin-top: 10px;
            display: flex;
            align-items: center;
            /*  */
            /* #col_estrelas {} */
            #col_opnioes {
                margin-left: 5px;
                color: rgba(0, 0, 0, .55);
            }
        }
        #col_colocacao {
            margin-top: 10px;
            display: flex;
            align-items: center;
            /*  */
            #col_mais_vendido {
                background-color: #f73;
                padding: 3px;
                text-align: center;
                border-radius: 3px 4px;
                text-align: center;
                a {
                    color: #fff;
                    font-size: 14px;
                }
            }
            #col_ranking {
                font-size: 12px;
                font-weight: 400;
                padding: 0 0 0 8px;
                text-transform: none;
                /*  */
                a {
                    color: #3483fa;
                }
            }
        }
        #col_precos {
            margin-top: 10px;
            #col_preco_anterior {
                margin: 2px;
                color: rgba(0, 0, 0, .55);
                text-decoration: line-through;
            }
            #col_preco_atual_wrap {
                display: flex;
                align-items: center;
                /*  */
                #col_preco_atual {
                    font-size: 36px;
                    color: rgba(0, 0, 0, .9);
                    font-weight: 100;
                }
                #col_preco_desconto {
                    margin-left: 10px;
                    font-size: 18px;
                    color: #00a650;
                }
            }
            #col_parcelamento_wrap {
                #col_parcelamento {
                    color: #00a650;
                }
            }
        }
        #col_meios_pagamentos {
            margin-top: 10px;
            a {
                color: #3483fa;
            }
        }
        #col_frete {
            margin-top: 10px;
            display: flex;
            height: 80px;
            /*  */
            #col_frete_icon {
                width: 10%;
                svg {
                    fill: #00a650;
                    margin-top: 5px;
                }
            }
            #col_frete_wrap {
                #col_frete_wrap_2 {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    /*  */
                    #col_line_1 {
                        color: #00a650;
                        #col_full {
                            font-weight: bolder
                        }
                        #col_icon_arrow {
                            color: rgba(0, 0, 0, 0.55);
                        }
                    }
                    #col_line_2 {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.55);
                    }
                    #col_line_3 {
                        font-size: 14px;
                        a {
                            color: #3483fa;
                        }
                    }
                }
            }
        }
        #col_descicao_cor {
            margin-top: 25px;
        }
        #col_descicao_voltagem {
            margin-top: 10px;
        }
        #col_estoque {
            margin-top: 40px;
        }
        #col_quantidade {
            margin-top: 29px;
            #col_quant_disponivel {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.582);
            }
        }
        #col_btn_wrap {
            width: 100%;
            margin-top: 20px;
            .col_btn {
                //estilo defalt
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
                transition: all 0.1s linear;
                font-weight: bold;
                border-radius: 6px;
            }
            #col_btn_comprar {
                background-color: #3483fa;
                color: white;
                &:hover {
                    background-color: #1b6ce6;
                }
            }
            #col_btn_add_carrinho {
                margin-top: 6px;
                background-color: #d2e4ff;
                color: #3483fa;
            }
        }
        #col_produto_footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 14px;
            /*  */
            .col_footer_item {
                display: flex;
                margin-top: 20px;
                /*  */
                .col_footer_icon {
                    width: 38px;
                    fill: rgba(0, 0, 0, .55);
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
                .col_footer_text {
                    width: 100%;
                    color: #0000008c;
                    >a {
                        color: #3483fa;
                    }
                }
            }
        }
    }
    /* ================= */
    #col_loja {
        /* height: 308px; */
        display: none; // REMOCER NO FINAL
        #col_titulo {
            color: rgba(0, 0, 0, 0.726);
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 28px;
            width: 100%;
        }
        #col_banner_wrap {
            display: flex;
            height: 48px;
            margin-bottom: 15px;
            /*  */
            #col_banner_img {
                width: 50px;
                /*  */
                img {
                    width: 48px;
                    height: 48px;
                }
            }
            #col_banner_tit_sub {
                display: flex;
                flex-direction: column;
                justify-content: center;
                /*  */
                #col_banner_tit {
                    color: #000;
                    font-size: 14px;
                    font-weight: 100;
                }
                #col_banner_sub {
                    font-size: 14px;
                    font-weight: 300;
                    color: rgba(128, 128, 128, 0.808);
                }
            }
        }
        #col_premiacao {
            margin-bottom: 20px;
            display: flex;
            height: 29px;
            /*  */
            #col_medalha {
                margin: 2px 10px 0 0;
                text-align: center;
                width: 20px;
            }
            #col_premiacao_tit_sub {
                /*  */
                #col_premiacao_tit {
                    color: #00a650;
                    font-size: 16px;
                    font-weight: 400;
                }
                #col_premiacao_sub {
                    color: rgba(0, 0, 0, .55);
                    font-size: 14px;
                }
            }
        }
        #col_termometro {
            display: flex;
            justify-content: space-around;
            align-items: center;
            /*  */
            .col_termometro_def {
                width: 100%;
                height: 8px;
                margin: 0 2px;
                background-color: #1b6ce6;
                opacity: .2;
            }
            #col_termometro_01 {
                background-color: red;
            }
            #col_termometro_02 {
                background-color: rgb(225, 5217, 0);
            }
            #col_termometro_03 {
                background-color: yellow;
            }
            #col_termometro_04 {
                background-color: rgb(217, 255, 0);
            }
            #col_termometro_05 {
                background-color: #00a650;
            }
            .col_termometro_selecionado {
                opacity: 1;
                height: 10px;
            }
        }
        #col_reputacao {
            display: flex;
            width: 100%;
            height: 72px;
            margin-top: 17px;
            /*  */
            .col_reputacao_item {
                width: 33.3%;
            }
            .col_reputacao_tit {
                color: #000;
                display: block;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.2;
                text-align: center;
            }
            .col_reputacao_sub {
                line-height: 1;
                margin-top: 8px;
                font-size: 12px;
                text-align: center;
                color: rgba(0, 0, 0, 0.699);
                padding: 0 8px;
            }
            #col_reputacao_02 {
                border-left: 2px solid rgb(173, 173, 173);
                border-right: 2px solid rgb(173, 173, 173);
            }
        }
        #col_mais_dados {
            color: #3483fa;
            margin-top: 24px;
        }
    }
    /* ================= */
    #col_devolucao {
        /* height: 875px; */
        /*  */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
            line-height: 1.25;
            margin: 0;
        }
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        .col_titulo {
            color: rgba(0, 0, 0, .9);
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 28px;
            width: 100%;
        }
        .col_msg {
            font-weight: 400;
            color: rgba(0, 0, 0, .55);
            font-size: 14px;
            margin-bottom: 12px;
        }
        .col_ver_mais {
            color: #3483fa;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        #col_dev_wrap1 {
            border-bottom: 1px solid rgb(173, 173, 173); //????
            margin-bottom: 30px;
        }
        #col_dev_wrap2 {
            border-bottom: 1px solid rgb(173, 173, 173); //????
            margin-bottom: 30px;
        }
        #col_pague_wrap {
            background-color: #00a650;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 5px;
            padding: 12px 20px;
            width: 100%;
            margin-bottom: 20px;
            #col_pague_icon {
                width: 10%;
            }
            #col_pague_msg {
                color: #fff;
            }
        }
        #col_mercado_credito {
            /*  */
            >img {
                width: 89px;
                height: 23px;
            }
        }
        .col_tit_cartoes {
            margin: 24px 0 10px 0;
        }
        #col_cartoes_credido {
            display: flex;
            /*  */
            .col_cartao {
                margin: 0 12px;
            }
        }
        #col_ver_mais_pagamentos {
            margin-top: 25px;
        }
    }
}