#home {
    height: 100vh;
    width: 100%;
    a,
    a:active,
    a:link,
    a:visited {
        text-decoration: none;
    }
    /*  */
    #home-header {
        display: flex;
        min-width: 320px;
        height: 100px;
        background-color: #fff159;
        #home-topo {
            width: 100%;
            .home-container {
                width: 100%;
                max-width: 1400px;
                display: flex;
                justify-content: center;
                margin: 10px auto 0 auto;
                align-items: center;
                height: 35px;
                .home-logo {
                    top: 51px;
                    margin-right: 20px;
                    left: 15px;
                }
                #home-form {
                    max-width: 600px;
                    margin-right: 20px;
                    width: 600px;
                    height: 35px;
                    left: 3px;
                    display: flex;
                    align-items: center;
                    @media(max-width: 1023px) {
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        margin-left: none;
                    }
                    .home-search {
                        min-width: 162px;
                        max-width: 578px;
                        min-height: 32px;
                        width: 100%;
                        height: 39px;
                        padding: 7px 60px 9px 15px;
                        border-radius: 2px 0px 0px 2px;
                        border: 0 rgba(0, 0, 0, 0.2);
                        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
                    }
                    .home-search::placeholder {
                        color: rgba(51, 51, 51, 0.37);
                        font-size: 16px;
                        width: 100%;
                        margin: 0;
                        font-family: inherit;
                    }
                    .home-search:focus {
                        outline: 0;
                    }
                    #btn-search {
                        @media(min-width: 1023px) {
                            background-color: #f7f7f7;
                            height: 39px;
                            width: 33px;
                            border-radius: 0px 2px 2px 0px;
                            border: 0 rgba(0, 0, 0, 0.2);
                            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
                            #search-icon {
                                height: 16px;
                                width: 20px;
                            }
                        }
                        @media(max-width: 1023px) {
                            background-color: #f7f7f7;
                            height: 39px;
                            width: 33px;
                            border-radius: 0px 2px 2px 0px;
                            border: 0 rgba(0, 0, 0, 0.2);
                            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
                            #search-icon {
                                height: 16px;
                                width: 20px;
                            }
                        }
                    }
                }
                .home-includes {
                    @media(min-width: 1023px) {
                        width: 340px;
                        height: 39px;
                    }
                    @media(max-width: 1023px) {
                        display: none;
                    }
                }
                .mobile-includes {
                    @media(min-width: 1023px) {
                        display: none;
                    }
                    display: flex;
                    flex-direction: row;
                    margin-right: 20px;
                    #menu-mobile {
                        margin-right: 20px;
                    }
                }
            }
        }
        .nav-container {
            width: 100%;
            background-color: #fff159;
            display: flex;
            width: 100%;
            max-width: 1400px;
            display: flex;
            justify-content: flex-start;
            margin: 10px auto 0 auto;
            align-items: center;
            height: 35px;
            #nav-location {
                display: flex;
                flex-direction: row;
                min-width: 16px;
                align-items: center;
                margin-right: 20px;
                #location {
                    width: 21px;
                    height: 16px;
                }
            }
            #nav-span {
                @media(min-width: 1023px) {
                    display: flex;
                    flex-direction: column;
                    color: black;
                }
            }
            ol {
                list-style-type: none;
                width: 200px;
                display: flex;
                padding: 0;
                margin-right: 380px;
                margin-left: 150px;
                text-align: center;
                display: inline-flex;
            }
            ol>li {
                float: left;
                width: 100px;
                margin: 10px;
            }
            ol>li>ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: none;
            }
            ol>li>ul>li {
                height: 70px;
                position: relative;
            }
            ol>li:hover>ul {
                height: 100%;
                display: block;
                background-color: grey;
            }
            ol a {
                color: black;
                display: block;
                text-decoration: none;
            }
        }
        #nav-menu {
            display: flex;
            justify-content: space-evenly;
            min-width: 350px;
            a {
                color: black;
            }
        }
        #nav-icon-kart {
            @media(max-width: 1023px) {
                display: none;
            }
        }
    }
    .nav-footer {
        overflow: unset;
        #nav-footer-wrap {
            text-decoration: none;
        }
    }
    /* BY SAULO */
    >main {
        min-height: 100vh;
        width: 100%;
        /*  */
        #main_wrap_categorias {
            max-width: 1187px;
            margin: auto;
            /*  */
            .main_group {
                margin-top: 96px;
                width: 100%;
                /*  */
                .main_group_tit {
                    font-size: 26px;
                    font-weight: 300;
                    margin: 0 0 0 8px;
                    color: #666;
                }
                .main_group_ver_todos {
                    align-self: baseline;
                    color: #3483fa;
                    font-size: 16px;
                    margin: auto 0 2px;
                    text-decoration: none;
                    cursor: pointer;
                }
                .main_group_content {
                    margin-top: 30px;
                    /*  */
                }
                /* ############ Categorias populares */
                #categorias_populares {
                    margin-bottom: 63px;
                    /*  */
                    .categorias_populares_line {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .categorias_populares_item {
                        background-color: #fff;
                        width: 170px;
                        height: 170px;
                        margin: 1px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        padding: 25px 0px;
                        /* HOVER */
                        &:hover {
                            background-color: #3483fa;
                            color: #fff;
                        }
                        &:hover svg {
                            fill: #fff;
                        }
                    }
                    .categorias_populares_item_logo {
                        svg {
                            width: 48px;
                            height: 48px;
                            fill: #3483fa;
                        }
                        img {
                            width: 48px;
                            height: 48px;
                        }
                    }
                    .categorias_populares_item_tit {
                        text-align: center;
                    }
                }
            }
        }
    }
    /* by saulo */
    >footer {
        #footer_wrap {
            width: 100%;
            /*  */
            #footer_wrapA {
                background-color: #fff;
                padding: 60px 0;
                display: flex;
                /*  */
                .footer_item {
                    width: 33.33%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    /*  */
                    .footer_icon {
                        /*  */
                    }
                    .footer_tit {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.4;
                        color: #4b4b4b;
                        margin: 16 px 0 0;
                        text-align: center;
                    }
                    .footer_sub {
                        color: #999;
                        font-size: 15px;
                        margin: 4px 0 10px;
                        line-height: 1.2;
                        width: 320px;
                        text-align: center;
                    }
                    .footer_link {
                        text-align: center;
                        >a {
                            color: #3483fa;
                            font-size: 14px;
                        }
                    }
                }
            }
            #footer_alerta_coockie {
                background-color: #333;
                width: 100%;
                height: 83px;
                display: flex;
                align-items: center;
                justify-content: center;
                /*  */
                #msg {
                    color: #fff;
                    text-align: center;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                }
                #footer_entendi {
                    background-color: #3483FA;
                    color: #fff;
                    width: 74px;
                    height: 30px;
                    border-radius: 6px;
                    margin-left: 12px;
                    text-align: center;
                    padding-top: 8px;
                    cursor: pointer;
                }
            }
        }
    }
    /* by saulo */
    @media (max-width: 995px) {
        >header {
            /*  */
        }
        >main {
            /*  */
        }
        >footer {
            #footer_wrap {
                #footer_wrapA {
                    flex-direction: column;
                    align-items: center;
                    /*  */
                    .footer_item {
                        margin-top: 25px;
                    }
                }
                #footer_alerta_coockie {
                    flex-direction: column;
                    /*  */
                    #footer_entendi {
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}