body {
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;


  #header {
    display: flex;
    min-width: 320px;
    height: 100px;
    background-color: #fff159;
    #topo {
      width: 100%;

      .container {
        width: 100%;
        max-width: 1400px;
        display: flex;
        justify-content: center;
        margin: 10px auto 0 auto;
        align-items: center;

        .logo {
          top: 50px;
          margin-right: 10px;
        }
        form {
          max-width: 600px;
          width: 600px;

          .search {
            min-width: 162px;
            max-width: 578px;
            min-height: 32px;
            width: 100%;
            height: 39px;
            margin-right: 10px;
            padding: 7px 60px 9px 15px;
            border-radius: 2px;
            border: 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
          }
          .search::placeholder {
            color: rgba(51, 51, 51, 0.37);
            font-size: 16px;
            width: 100%;
            margin: 0;
            font-family: inherit;
          }
          .search:focus {
            outline: 0;
          }
        }
        .includes {
          width: 340px;
          height: 39px;
        }
      }
    }
  }

  .top{
    position: relative;
    background-image: url(/assets/images/bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    z-index: 1;

    .logo-ml{
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      top:15%;
      left: 7.5%;  

      img{
      border-radius: 4px;
      }
    }
  }

  main > {
    #product{   
      .container{
        position: relative;
        z-index: 2;
        margin: -100px auto 0 auto;
        border-radius: 4px;
        width: 85%;
        height: 300px;
        background-color: red;
        .indice {
          display: flex;
          justify-content: space-between;
          padding: 16px;
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          border-radius: 4px 4px 0 0;
          background-color: #ededed;
          .links-left {
            span {
              color: rgba(0,0,0,.9);
              a{
                color: rgba(0,0,0,.9);
              }
            }
            a {
              text-decoration: none;
              color: #3483fa;
            }         
          }
          .links-right {
            a {
              text-decoration: none;
              color: #3483fa;
            }  
          }
        }

        .img-product {
          .small-img{
            display: flex;
            flex-direction: column;
            margin:15px;
            box-sizing: border-box;

              .image {
                width: 100%;
                height: auto;
                            
                  img {
                    box-sizing: border-box;
                    border-radius: 5px;
                  } 
                }
                .image:hover {
                  box-sizing: border-box;
                  border-radius: 10px;
                  border: 3px solid blue;
}
          }
          
        }
      } 
    }

  }

   
    
  
}