* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box; // ?????
}

@font-face {
    font-family: 'Proxima Nova';
    src: local("Proxima Nova"), url("../fonts/proxima-nova.otf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

body {
    background-color: #EDEDED;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}