* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box; // ?????
}

body {
    background-color: #EDEDED;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}