* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"), url("../fonts/proxima-nova.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
body {
  background-color: #EDEDED;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

#auth {
  font-family: "Proxima Nova";
  height: 100vh;
  width: 100%;
  position: relative;
}
#auth > header {
  background-color: #FFF059;
  height: 238px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#auth > header #logo-0 {
  display: none;
}
#auth > header span {
  color: #3f3f3f;
  margin-top: 100px;
}
#auth > main {
  background-color: #EDEDED;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#auth > main > #wrap-all {
  width: 424px;
  height: 420px;
  transform: translateY(-96px);
}
#auth > main > #wrap-all > #wrap-1 {
  background-color: white;
  border-radius: 6px 6px 0 0;
  height: 443px;
  padding: 63px;
}
#auth > main > #wrap-all > #wrap-1 h1 {
  color: #000000c7;
}
#auth > main > #wrap-all > #wrap-1 #input-email {
  margin-top: 60px;
}
#auth > main > #wrap-all > #wrap-1 #input-email label {
  margin-left: 5px;
  color: #3f3f3f;
}
#auth > main > #wrap-all > #wrap-1 #input-email > input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 1px #9D9D9D solid;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
#auth > main > #wrap-all > #wrap-1 #input-email > input:focus {
  border: 2px solid #3483FA;
}
#auth > main > #wrap-all > #wrap-1 #btn-continuar {
  margin-top: 33px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: #3483FA;
  color: white;
  transition: all 0.1s linear;
  font-weight: bold;
}
#auth > main > #wrap-all > #wrap-1 #btn-continuar:hover {
  cursor: pointer;
  background-color: #2475f0;
}
#auth > main > #wrap-all > #wrap-1 #btn-criar-conta {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #3483FA;
  transition: all 0.1s linear;
  cursor: pointer;
  font-weight: bold;
}
#auth > main > #wrap-all > #wrap-1 #btn-criar-conta:hover {
  background-color: #bdd7ff;
}
#auth > main > #wrap-all > #wrap-2 #ajuda {
  background-color: #fdfdfd;
  color: #3483FA;
  font-weight: bold;
  width: 100%;
  border-top: 1px #bababa solid;
  height: 63px;
  border-radius: 0 0 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#auth > main > #wrap-all > #wrap-2 #ajuda:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
#auth > main > #wrap-all #wrap-3 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  color: #9D9D9D;
  font-size: 12px;
}
#auth > main > #wrap-all #wrap-3 > a,
#auth > main > #wrap-all #wrap-3 a:active,
#auth > main > #wrap-all #wrap-3 a:hover,
#auth > main > #wrap-all #wrap-3 a:link {
  color: #3483FA;
  font-size: 10px;
}
#auth > footer {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#auth > footer a {
  color: rgba(0, 0, 0, 0.8);
}
#auth > footer #copyright {
  color: rgba(0, 0, 0, 0.45);
}

/* MEDIA 1023px */
@media (max-width: 1023px) {
  #auth > header {
    display: block;
  }
  #auth > header #logo-0 {
    display: block;
    margin-left: 10px;
  }
  #auth > header #logo-1 {
    display: none;
  }
  #auth > header #contato {
    display: none;
  }
}

/* MEDIA 460px */
@media (max-width: 460px) {
  #auth > header {
    height: 48px;
    padding-top: 9px;
  }
  #auth > main #wrap-all {
    transform: translateY(0);
    border-radius: 0;
    width: 100%;
    height: 100vh;
  }
  #auth > main #wrap-all #wrap-1 {
    border-radius: 0;
    padding: 30px;
    height: calc(100% - 86px);
  }
  #auth > main #wrap-all #wrap-2 #ajuda {
    background-color: #fdfdfd;
    color: #3483FA;
    width: 100%;
    border: 0;
    height: 63px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
  }
  #auth > main #wrap-all #wrap-3 {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    color: #9D9D9D;
    font-size: 12px;
    font-weight: bold;
  }
  #auth > footer {
    border-top: 1px #bababa solid;
  }
}

body {
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, sans-serif;
}
body #header {
  display: flex;
  min-width: 320px;
  height: 100px;
  background-color: #fff159;
}
body #header #topo {
  width: 100%;
}
body #header #topo .container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 10px auto 0 auto;
  align-items: center;
}
body #header #topo .container .logo {
  top: 50px;
  margin-right: 10px;
}
body #header #topo .container form {
  max-width: 600px;
  width: 600px;
}
body #header #topo .container form .search {
  min-width: 162px;
  max-width: 578px;
  min-height: 32px;
  width: 100%;
  height: 39px;
  margin-right: 10px;
  padding: 7px 60px 9px 15px;
  border-radius: 2px;
  border: 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
body #header #topo .container form .search::placeholder {
  color: rgba(51, 51, 51, 0.37);
  font-size: 16px;
  width: 100%;
  margin: 0;
  font-family: inherit;
}
body #header #topo .container form .search:focus {
  outline: 0;
}
body #header #topo .container .includes {
  width: 340px;
  height: 39px;
}
body .top {
  position: relative;
  background-image: url(/assets/images/bk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  z-index: 1;
}
body .top .logo-ml {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 15%;
  left: 7.5%;
}
body .top .logo-ml img {
  border-radius: 4px;
}
body main > #product .container {
  position: relative;
  z-index: 2;
  margin: -100px auto 0 auto;
  border-radius: 4px;
  width: 85%;
  height: 300px;
  background-color: red;
}
body main > #product .container .indice {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 4px 4px 0 0;
  background-color: #ededed;
}
body main > #product .container .indice .links-left span {
  color: rgba(0, 0, 0, 0.9);
}
body main > #product .container .indice .links-left span a {
  color: rgba(0, 0, 0, 0.9);
}
body main > #product .container .indice .links-left a {
  text-decoration: none;
  color: #3483fa;
}
body main > #product .container .indice .links-right a {
  text-decoration: none;
  color: #3483fa;
}
body main > #product .container .img-product .small-img {
  display: flex;
  flex-direction: column;
  margin: 15px;
  box-sizing: border-box;
}
body main > #product .container .img-product .small-img .image {
  width: 100%;
  height: auto;
}
body main > #product .container .img-product .small-img .image img {
  box-sizing: border-box;
  border-radius: 5px;
}
body main > #product .container .img-product .small-img .image:hover {
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid blue;
}

/*# sourceMappingURL=main.css.map */
