@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"), url("../fonts/proxima-nova.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Proxima Nova";
}

body {
  background-color: #EDEDED;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

#auth {
  position: relative;
}
#auth > header {
  min-width: 320px;
  background-color: #FFF059;
  height: 238px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#auth > header #logo-0 {
  display: none;
}
#auth > header a {
  color: #464545;
  font-size: 14px;
  font-weight: 200;
}
#auth > main {
  min-width: 320px;
  background-color: #EDEDED;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#auth > main > #wrap-all {
  width: 424px;
  height: 420px;
  transform: translateY(-96px);
}
#auth > main > #wrap-all > #wrap-1 {
  background-color: white;
  border-radius: 6px 6px 0 0;
  height: 443px;
  padding: 63px;
}
#auth > main > #wrap-all > #wrap-1 h1 {
  color: #000000c7;
  line-height: 1.25;
  letter-spacing: 0.0125rem;
}
#auth > main > #wrap-all > #wrap-1 .input-email {
  margin-top: 50px;
}
#auth > main > #wrap-all > #wrap-1 .input-email label {
  color: #3f3f3f;
  margin-left: 5px;
}
#auth > main > #wrap-all > #wrap-1 .input-email > input {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 1px #9D9D9D solid;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
#auth > main > #wrap-all > #wrap-1 .input-email > input:focus {
  border: 2px solid #3483FA;
}
#auth > main > #wrap-all > #wrap-1 #btn-continuar {
  margin-top: 33px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: #3483FA;
  color: white;
  transition: all 0.1s linear;
  font-weight: bold;
}
#auth > main > #wrap-all > #wrap-1 #btn-continuar:hover {
  cursor: pointer;
  background-color: #2868c8;
}
#auth > main > #wrap-all > #wrap-1 #btn-criar-conta {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #3483FA;
  transition: all 0.1s linear;
  cursor: pointer;
  font-weight: bold;
}
#auth > main > #wrap-all > #wrap-1 #btn-criar-conta:hover {
  background-color: #bdd7ff;
}
#auth > main > #wrap-all > #wrap-2 #ajuda {
  background-color: #fdfdfd;
  color: #3483FA;
  font-weight: bold;
  width: 100%;
  border-top: 1px #bababa solid;
  height: 63px;
  border-radius: 0 0 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#auth > main > #wrap-all > #wrap-2 #ajuda:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
#auth > main > #wrap-all #wrap-3 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  color: #9D9D9D;
  font-size: 12px;
}
#auth > main > #wrap-all #wrap-3 > a,
#auth > main > #wrap-all #wrap-3 a:active,
#auth > main > #wrap-all #wrap-3 a:hover,
#auth > main > #wrap-all #wrap-3 a:link {
  color: #3483FA;
  font-size: 10px;
}
#auth > footer {
  min-width: 320px;
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#auth > footer #privacidade {
  margin-bottom: 7px;
}
#auth > footer #privacidade a {
  color: rgba(0, 0, 0, 0.8);
}
#auth > footer #copyright {
  color: rgba(0, 0, 0, 0.45);
}

/* MEDIA 1023px */
@media (max-width: 1023px) {
  #auth > header {
    display: block;
  }
  #auth > header #logo-0 {
    display: block;
    margin-left: 10px;
  }
  #auth > header #logo-1 {
    display: none;
  }
  #auth > header #contato {
    display: none;
  }
}

/* MEDIA 767px */
@media (max-width: 767px) {
  #auth > header {
    height: 48px;
    padding-top: 9px;
  }
  #auth > main {
    height: calc(100vh - 80px);
  }
  #auth > main #wrap-all {
    transform: translateY(0);
    border-radius: 0;
    width: 100%;
    height: 100vh;
  }
  #auth > main #wrap-all #wrap-1 {
    border-radius: 0;
    padding: 30px;
    height: calc(100% - 115px);
  }
  #auth > main #wrap-all #wrap-2 #ajuda {
    background-color: #fdfdfd;
    color: #3483FA;
    width: 100%;
    border: 0;
    height: 63px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
  }
  #auth > main #wrap-all #wrap-3 {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    color: #9D9D9D;
    font-size: 12px;
    font-weight: bold;
  }
  #auth > footer {
    border-top: 1px #bababa solid;
  }
}

/*Saulo Costa (https://github.com/saulotarsobc)*/
body {
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, sans-serif;
}
body #header {
  display: flex;
  min-width: 320px;
  height: 100px;
  background-color: #fff159;
}
body #header #topo {
  width: 100%;
}
body #header #topo .container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 10px auto 0 auto;
  align-items: center;
}
body #header #topo .container .logo {
  top: 50px;
  margin-right: 10px;
}
body #header #topo .container form {
  max-width: 600px;
  width: 600px;
}
body #header #topo .container form .search {
  min-width: 162px;
  max-width: 578px;
  min-height: 32px;
  width: 100%;
  height: 39px;
  margin-right: 10px;
  padding: 7px 60px 9px 15px;
  border-radius: 2px;
  border: 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
body #header #topo .container form .search::placeholder {
  color: rgba(51, 51, 51, 0.37);
  font-size: 16px;
  width: 100%;
  margin: 0;
  font-family: inherit;
}
body #header #topo .container form .search:focus {
  outline: 0;
}
body #header #topo .container .includes {
  width: 340px;
  height: 39px;
}
body .top {
  position: relative;
  background-image: url(/assets/images/bk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  z-index: 1;
}
body .top .logo-ml {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 15%;
  left: 7.5%;
}
body .top .logo-ml img {
  border-radius: 4px;
}
body main #product .container {
  position: relative;
  z-index: 2;
  margin: -100px auto 0 auto;
  border-radius: 4px;
  width: 85%;
  background-color: white;
}
body main #product .container .indice {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 4px 4px 0 0;
  background-color: #ededed;
}
body main #product .container .indice .links-left span {
  color: rgba(0, 0, 0, 0.9);
}
body main #product .container .indice .links-left span a {
  color: rgba(0, 0, 0, 0.9);
}
body main #product .container .indice .links-left a {
  text-decoration: none;
  color: #3483fa;
}
body main #product .container .indice .links-right a {
  text-decoration: none;
  color: #3483fa;
}
body main #product .container #info-product {
  display: flex;
  justify-content: space-around;
}
body main #product .container #info-product .dados-product .img-product {
  display: flex;
}
body main #product .container #info-product .dados-product .img-product .small-img {
  margin-top: 22px;
  margin-left: 3%;
}
body main #product .container #info-product .dados-product .img-product .small-img .image {
  height: 64px;
  border-radius: 5px;
  border: 2px solid #fff;
  margin-bottom: 10px;
}
body main #product .container #info-product .dados-product .img-product .small-img .image img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
body main #product .container #info-product .dados-product .img-product .small-img .image:hover {
  border: 3px solid #3483fa;
}
body main #product .container #info-product .dados-product .img-product .large-img {
  margin-top: 25px;
}
body main #product .container #info-product .dados-product .img-product .large-img img {
  padding: 16px;
  margin: 24px 0 0;
  width: 120%;
}
body main .dados-product .divisor {
  width: 95%;
  margin: 40px 0 40px 3%;
  border: 0.5px solid rgba(187, 187, 187, 0.37);
}
body main .dados-product .text-1 {
  color: #333;
  margin-left: 3%;
  margin-bottom: 55px;
  font-size: 24px;
}
body main .dados-product .link .link-anuncios {
  margin-left: 3%;
  text-decoration: none;
  color: #3483fa;
}
body main .dados-product #anuncios .divisor {
  width: 95%;
  margin: 40px 0 40px 3%;
  border: 0.5px solid rgba(187, 187, 187, 0.37);
}
body main .dados-product #anuncios .text-1 {
  color: #333;
  margin-left: 3%;
  margin-bottom: 55px;
  font-size: 24px;
}
body main .dados-product .caracteristicas-do-produto {
  background-color: #fff;
}
body main .dados-product .caracteristicas-do-produto .tamanho-tela {
  margin-left: 3%;
  display: flex;
}
body main .dados-product .caracteristicas-do-produto .tamanho-tela .tamanho {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body main .dados-product .caracteristicas-do-produto .tamanho-tela .tamanho .pequeno {
  background-color: #3483fa;
  height: 8px;
  width: 100%;
  margin-left: 2px;
  font-size: 11px;
}
body main .dados-product .caracteristicas-do-produto .tamanho-tela .tamanho div {
  background-color: rgba(0, 0, 0, 0.07);
  height: 8px;
  width: 100%;
  margin-left: 2px;
  margin-bottom: 7px;
}
body main .dados-product .caracteristicas-do-produto .tamanho-tela .tamanho .grande {
  background-color: rgba(0, 0, 0, 0.07);
  height: 8px;
  width: 100%;
  font-size: 12px;
}
body main .dados-product .caracteristicas-do-produto .outras-infos {
  padding-top: 50px;
  height: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body main .dados-product .caracteristicas-do-produto .outras-infos div {
  margin-left: 3%;
  width: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
body main .dados-product .caracteristicas-do-produto .descricao-do-produto .text-1 {
  color: #333;
  margin-left: 3%;
  margin-bottom: 25px;
  font-size: 24px;
}
body main .dados-product .caracteristicas-do-produto .descricao-do-produto p {
  margin: 1em;
  margin-left: 3%;
  color: #666;
  font-size: 20px;
  line-height: 1.5em;
}
body main .dados-product .caracteristicas-do-produto .especificacoes p {
  margin-left: 3%;
  color: #666;
  font-size: 20px;
  line-height: 1.5em;
}
body main .dados-product .pergunstas-respostas .text-1 {
  color: #333;
  margin-top: 65px;
  margin-left: 3%;
  margin-bottom: 40px;
  font-size: 24px;
}
body main .dados-product .pergunstas-respostas .text-2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  margin-left: 3%;
  margin-bottom: 30px;
  font-weight: bold;
}
body main .dados-product .pergunstas-respostas .pergunte {
  margin-top: 50px;
}
body main .dados-product .pergunstas-respostas .input-btn {
  margin-top: 10px;
  margin-left: 3%;
}
body main .dados-product .pergunstas-respostas .input-btn input {
  width: 70%;
  height: 48px;
  border: 1px solid rgba(102, 102, 102, 0.493);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
}
body main .dados-product .pergunstas-respostas .input-btn input:focus {
  outline-color: #2968c8;
}
body main .dados-product .pergunstas-respostas .input-btn button {
  border-radius: 6px;
  display: inline-block;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  background-color: #3483fa;
  color: #fff;
}
body main .dados-product .pergunstas-respostas .input-btn button:hover {
  background-color: #2968c8;
  border-color: transparent;
  color: #fff;
}
body main .dados-product .pergunstas-respostas .btn-perguntas {
  margin-left: 3%;
}
body main .dados-product .pergunstas-respostas .btn-perguntas a {
  color: #3483fa;
  background-color: rgba(65, 137, 230, 0.15);
  margin-right: 8px;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 12px;
}
body main .dados-product .pergunstas-respostas .question {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 3%;
}
body main .dados-product .pergunstas-respostas .answer {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.55);
  margin-top: 20px;
  margin-left: 5%;
  line-height: 1.5;
}
body main .dados-product .opiniao-produto .link {
  margin-top: 30px;
  margin-bottom: 50px;
}
body main .dados-product .opiniao-produto .media-estrelas {
  margin-left: 3%;
  color: rgba(0, 0, 0, 0.55);
  display: flex;
  text-align: right;
}
body main .dados-product .opiniao-produto .media-estrelas .nota {
  margin-right: 5%;
}
body main .dados-product .opiniao-produto .media-estrelas .nota .nota-valor {
  color: rgba(0, 0, 0, 0.9);
  font-size: 64px;
}
body main .dados-product .opiniao-produto .media-estrelas .nota img {
  width: 22px;
}
body main .dados-product .opiniao-produto .media-estrelas .nota .media {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars div {
  display: flex;
  margin-bottom: 10px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars div .n-stars {
  width: 70px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars #progressbar {
  margin: 0 10px;
  width: 150px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars #progressbar .stars-1 {
  background-color: #3483fa;
  width: 85%;
  height: 5px;
  border-radius: 10px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars #progressbar .stars-2 {
  background-color: #3483fa;
  width: 15%;
  height: 5px;
  border-radius: 10px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars #progressbar .stars-3 {
  background-color: #3483fa;
  width: 3%;
  height: 5px;
  border-radius: 10px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars #progressbar .stars-4 {
  background-color: #3483fa;
  width: 0%;
  height: 5px;
  border-radius: 10px;
}
body main .dados-product .opiniao-produto .media-estrelas .stars #progressbar .stars-5 {
  background-color: #3483fa;
  width: 1%;
  height: 5px;
  border-radius: 10px;
}
body main .dados-product .tab-container {
  list-style-type: none;
  padding: 0;
  margin: 60px auto;
  position: relative;
  background: #fff;
}
body main .dados-product .tab-container ul {
  list-style-type: none;
  padding: 0;
}
body main .dados-product .tab-container .tab-content-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  line-height: 22px;
  background: #fff;
  position: absolute;
  top: 42px;
  padding: 0px 40px 0 20px;
  border-top: 0;
  box-shadow: 0 5px 5px -5px #333;
}
body main .dados-product .tab-container .tab-content-container .tab-content {
  opacity: 0;
  padding: 15px 0;
  min-height: 185px;
  transition: opacity 0.1s ease-in;
}
body main .dados-product .tab-container .tab-content-container .tab-content .nota {
  margin-top: 10px;
}
body main .dados-product .tab-container .tab-content-container .tab-content .nota .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
body main .dados-product .tab-container .tab-content-container .tab-content .nota .like-dislike {
  margin-top: 10px;
  display: flex;
}
body main .dados-product .tab-container .tab-content-container .tab-content .nota .like-dislike .like {
  display: flex;
  margin-right: 3%;
}
body main .dados-product .tab-container .tab-content-container .tab-content .nota .like-dislike .dislike {
  display: flex;
}
body main .dados-product .tab-container .tab {
  outline: 0;
  float: left;
  cursor: pointer;
  opacity: 1;
  width: 33.33%;
  line-height: 40px;
  display: block;
  margin: 0;
  position: relative;
  color: black;
  text-align: center;
  border-bottom: 1px solid gray;
}
body main .dados-product .tab-container .tab:hover {
  color: #3483fa;
}
body main .dados-product .tab-container .tab-toggle {
  display: none;
}
body main .dados-product .tab-container .tab-toggle.active + .tab, body main .dados-product .tab-container .tab-toggle:checked + .tab {
  color: #3483fa;
  border-bottom: 3px solid #3483fa;
}
body main .dados-product .tab-container .tab-toggle.active ~ .tab-content-container, body main .dados-product .tab-container .tab-toggle:checked ~ .tab-content-container {
  height: auto;
  opacity: 1;
}
body main .dados-product .tab-container .tab-toggle.active ~ .tab-content-container .tab-content, body main .dados-product .tab-container .tab-toggle:checked ~ .tab-content-container .tab-content {
  opacity: 1;
}
body main .dados-product .tab-container .tab-toggle.active ~ .tab-content-container .tab-content label, body main .dados-product .tab-container .tab-toggle:checked ~ .tab-content-container .tab-content label {
  opacity: 1;
}
body main .dados-product .carousel {
  margin-left: 3%;
  width: 92%;
}
body main .dados-product .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  /*height:100px;ajustar altura da caixa*/
}
body main .dados-product .carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
body main .dados-product .carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-out;
  transition: opacity 0.7s ease-out;
}
body main .dados-product .carousel-item .wrapper {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
body main .dados-product .carousel-item .box {
  width: 15rem;
  height: 15rem;
  padding: 1px;
  transition: transform 0.3s linear 0s, filter 0.5s linear 0.3s, opacity 0.5s linear 0.3s;
  /*transform-origin: top center;*/
}
body main .dados-product .carousel-item .product {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  background-color: #fff;
  background-position: top 3rem center;
  background-size: 80%;
  background-repeat: no-repeat;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s linear, height 0.1s linear 0s;
}
body main .dados-product .carousel-item .product a {
  text-decoration: none;
  color: #000;
}
body main .dados-product .carousel-item .product .name {
  display: block;
  padding: 18px 5px 0 5px;
  text-align: center;
  line-height: 18px;
}
body main .dados-product .carousel-item .product .name img {
  margin: 10px auto 0 auto;
  width: 180px;
}
body main .dados-product .carousel-item .product .description {
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 0;
  display: block;
  padding: 18px 15px 0 5px;
  opacity: 0;
  transition: opacity 0.1s linear 0s;
}
body main .dados-product .carousel-item .product .description s {
  font-size: 11px;
  color: #707070;
}
body main .dados-product .carousel-item .product .description .desconto {
  font-size: 13px;
  color: #00a650;
}
body main .dados-product .carousel-item .product .description .frete {
  margin-top: 8px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  color: #00a650;
  align-items: center;
}
body main .dados-product .carousel-item .product .description .frete img {
  width: 12px;
}
body main .dados-product .carousel-item .product .description .frete span {
  font-weight: bold;
  font-style: italic;
  color: #00a650;
}
body main .dados-product .carousel-item .wrapper:hover .box:not(:hover) {
  filter: blur(3px);
  opacity: 0.5;
}
body main .dados-product .carousel-item .box:hover {
  transform: scale(1.1);
  transition: transform 0.3s linear 0.3s, filter 0.1s linear 0s, opacity 0.1s linear 0s;
}
body main .dados-product .carousel-item .box:hover .product {
  height: 280px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 1s linear, height 0.3s linear 0.5s;
}
body main .dados-product .carousel-item .box:hover .description {
  opacity: 1;
  transition: opacity 0.3s linear 0.75s;
}
body main .dados-product .carousel-item img {
  display: block;
  /*height:auto;/*ajustar altura da imagem interna*/
  max-width: 100%;
}
body main .dados-product .carousel-control {
  background: #fff;
  border-radius: 50%;
  color: #3483fa;
  cursor: pointer;
  display: none;
  font-size: 60px;
  height: 64px;
  position: absolute;
  top: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 64px;
  z-index: 10;
}
body main .dados-product .carousel-control.prev {
  left: -4%;
  user-select: none;
}
body main .dados-product .carousel-control.next {
  right: -4%;
  user-select: none;
}
body main .dados-product .carousel-control:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
body main .dados-product #carousel-1:checked ~ .control-1,
body main .dados-product #carousel-2:checked ~ .control-2,
body main .dados-product #carousel-3:checked ~ .control-3 {
  display: block;
}
body main .dados-product .carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#col_lateral {
  background-color: transparent;
  width: 390px;
  padding: 24px 16px;
  position: relative;
  /*  */
  /*  */
  /* 
  PRIMEIRO CARD
   */
  /* ================= */
  /* ================= */
}
#col_lateral a,
#col_lateral a:hover,
#col_lateral a:link,
#col_lateral a:visited {
  text-decoration: none;
}
#col_lateral .col_default {
  border-radius: 6px;
  width: 100%;
  padding: 24px 16px;
  background-color: white;
  border: 0.3px solid rgba(144, 144, 144, 0.418);
}
#col_lateral #col_produto {
  /* height: 715px; */
  flex-direction: column;
  justify-content: space-around;
  /*  */
}
#col_lateral #col_produto #col_novo_usado {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  font-weight: 400;
}
#col_lateral #col_produto #col_titulo {
  display: flex;
  /*  */
}
#col_lateral #col_produto #col_titulo #col_nome {
  width: 90%;
}
#col_lateral #col_produto #col_titulo #col_favorito {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  /*  */
}
#col_lateral #col_produto #col_titulo #col_favorito .col_coracao {
  fill: #3483fa;
  width: 22px;
}
#col_lateral #col_produto #col_avaliacoes {
  margin-top: 10px;
  display: flex;
  align-items: center;
  /*  */
  /* #col_estrelas {} */
}
#col_lateral #col_produto #col_avaliacoes #col_opnioes {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.55);
}
#col_lateral #col_produto #col_colocacao {
  margin-top: 10px;
  display: flex;
  align-items: center;
  /*  */
}
#col_lateral #col_produto #col_colocacao #col_mais_vendido {
  background-color: #f73;
  padding: 3px;
  text-align: center;
  border-radius: 3px 4px;
  text-align: center;
}
#col_lateral #col_produto #col_colocacao #col_mais_vendido a {
  color: #fff;
  font-size: 14px;
}
#col_lateral #col_produto #col_colocacao #col_ranking {
  font-size: 12px;
  font-weight: 400;
  padding: 0 0 0 8px;
  text-transform: none;
  /*  */
}
#col_lateral #col_produto #col_colocacao #col_ranking a {
  color: #3483fa;
}
#col_lateral #col_produto #col_precos {
  margin-top: 10px;
}
#col_lateral #col_produto #col_precos #col_preco_anterior {
  margin: 2px;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: line-through;
}
#col_lateral #col_produto #col_precos #col_preco_atual_wrap {
  display: flex;
  align-items: center;
  /*  */
}
#col_lateral #col_produto #col_precos #col_preco_atual_wrap #col_preco_atual {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
}
#col_lateral #col_produto #col_precos #col_preco_atual_wrap #col_preco_desconto {
  margin-left: 10px;
  font-size: 18px;
  color: #00a650;
}
#col_lateral #col_produto #col_precos #col_parcelamento_wrap #col_parcelamento {
  color: #00a650;
}
#col_lateral #col_produto #col_meios_pagamentos {
  margin-top: 10px;
}
#col_lateral #col_produto #col_meios_pagamentos a {
  color: #3483fa;
}
#col_lateral #col_produto #col_frete {
  margin-top: 10px;
  display: flex;
  height: 80px;
  /*  */
}
#col_lateral #col_produto #col_frete #col_frete_icon {
  width: 10%;
}
#col_lateral #col_produto #col_frete #col_frete_icon svg {
  fill: #00a650;
  margin-top: 5px;
}
#col_lateral #col_produto #col_frete #col_frete_wrap #col_frete_wrap_2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*  */
}
#col_lateral #col_produto #col_frete #col_frete_wrap #col_frete_wrap_2 #col_line_1 {
  color: #00a650;
}
#col_lateral #col_produto #col_frete #col_frete_wrap #col_frete_wrap_2 #col_line_1 #col_full {
  font-weight: bolder;
}
#col_lateral #col_produto #col_frete #col_frete_wrap #col_frete_wrap_2 #col_line_1 #col_icon_arrow {
  color: rgba(0, 0, 0, 0.55);
}
#col_lateral #col_produto #col_frete #col_frete_wrap #col_frete_wrap_2 #col_line_2 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
}
#col_lateral #col_produto #col_frete #col_frete_wrap #col_frete_wrap_2 #col_line_3 {
  font-size: 14px;
}
#col_lateral #col_produto #col_frete #col_frete_wrap #col_frete_wrap_2 #col_line_3 a {
  color: #3483fa;
}
#col_lateral #col_produto #col_descicao_cor {
  margin-top: 25px;
}
#col_lateral #col_produto #col_descicao_voltagem {
  margin-top: 10px;
}
#col_lateral #col_produto #col_estoque {
  margin-top: 40px;
}
#col_lateral #col_produto #col_quantidade {
  margin-top: 29px;
}
#col_lateral #col_produto #col_quantidade #col_quant_disponivel {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.582);
}
#col_lateral #col_produto #col_btn_wrap {
  width: 100%;
  margin-top: 20px;
}
#col_lateral #col_produto #col_btn_wrap .col_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  transition: all 0.1s linear;
  font-weight: bold;
  border-radius: 6px;
}
#col_lateral #col_produto #col_btn_wrap #col_btn_comprar {
  background-color: #3483fa;
  color: white;
}
#col_lateral #col_produto #col_btn_wrap #col_btn_comprar:hover {
  background-color: #1b6ce6;
}
#col_lateral #col_produto #col_btn_wrap #col_btn_add_carrinho {
  margin-top: 6px;
  background-color: #d2e4ff;
  color: #3483fa;
}
#col_lateral #col_produto #col_produto_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  /*  */
}
#col_lateral #col_produto #col_produto_footer .col_footer_item {
  display: flex;
  margin-top: 20px;
  /*  */
}
#col_lateral #col_produto #col_produto_footer .col_footer_item .col_footer_icon {
  width: 38px;
  fill: rgba(0, 0, 0, 0.55);
}
#col_lateral #col_produto #col_produto_footer .col_footer_item .col_footer_icon svg {
  height: 20px;
  width: 20px;
}
#col_lateral #col_produto #col_produto_footer .col_footer_item .col_footer_text {
  width: 100%;
  color: #0000008c;
}
#col_lateral #col_produto #col_produto_footer .col_footer_item .col_footer_text > a {
  color: #3483fa;
}
#col_lateral #col_loja {
  /* height: 308px; */
}
#col_lateral #col_loja #col_titulo {
  color: rgba(0, 0, 0, 0.726);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
  width: 100%;
}
#col_lateral #col_loja #col_banner_wrap {
  display: flex;
  height: 48px;
  margin-bottom: 15px;
  /*  */
}
#col_lateral #col_loja #col_banner_wrap #col_banner_img {
  width: 50px;
  /*  */
}
#col_lateral #col_loja #col_banner_wrap #col_banner_img img {
  width: 48px;
  height: 48px;
}
#col_lateral #col_loja #col_banner_wrap #col_banner_tit_sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*  */
}
#col_lateral #col_loja #col_banner_wrap #col_banner_tit_sub #col_banner_tit {
  color: #000;
  font-size: 14px;
  font-weight: 100;
}
#col_lateral #col_loja #col_banner_wrap #col_banner_tit_sub #col_banner_sub {
  font-size: 14px;
  font-weight: 300;
  color: rgba(128, 128, 128, 0.808);
}
#col_lateral #col_loja #col_premiacao {
  margin-bottom: 20px;
  display: flex;
  height: 29px;
  /*  */
}
#col_lateral #col_loja #col_premiacao #col_medalha {
  margin: 2px 10px 0 0;
  text-align: center;
  width: 20px;
}
#col_lateral #col_loja #col_premiacao #col_premiacao_tit_sub {
  /*  */
}
#col_lateral #col_loja #col_premiacao #col_premiacao_tit_sub #col_premiacao_tit {
  color: #00a650;
  font-size: 16px;
  font-weight: 400;
}
#col_lateral #col_loja #col_premiacao #col_premiacao_tit_sub #col_premiacao_sub {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
}
#col_lateral #col_loja #col_termometro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*  */
}
#col_lateral #col_loja #col_termometro .col_termometro_def {
  width: 100%;
  height: 8px;
  margin: 0 2px;
  background-color: #1b6ce6;
  opacity: 0.2;
}
#col_lateral #col_loja #col_termometro #col_termometro_01 {
  background-color: red;
}
#col_lateral #col_loja #col_termometro #col_termometro_02 {
  background-color: #e1ff00;
}
#col_lateral #col_loja #col_termometro #col_termometro_03 {
  background-color: yellow;
}
#col_lateral #col_loja #col_termometro #col_termometro_04 {
  background-color: #d9ff00;
}
#col_lateral #col_loja #col_termometro #col_termometro_05 {
  background-color: #00a650;
}
#col_lateral #col_loja #col_termometro .col_termometro_selecionado {
  opacity: 1;
  height: 10px;
}
#col_lateral #col_loja #col_reputacao {
  display: flex;
  width: 100%;
  height: 72px;
  margin-top: 17px;
  /*  */
}
#col_lateral #col_loja #col_reputacao .col_reputacao_item {
  width: 33.3%;
}
#col_lateral #col_loja #col_reputacao .col_reputacao_tit {
  color: #000;
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
#col_lateral #col_loja #col_reputacao .col_reputacao_sub {
  line-height: 1;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.699);
  padding: 0 8px;
}
#col_lateral #col_loja #col_reputacao #col_reputacao_02 {
  border-left: 2px solid #adadad;
  border-right: 2px solid #adadad;
}
#col_lateral #col_loja #col_mais_dados {
  color: #3483fa;
  margin-top: 24px;
}
#col_lateral #col_devolucao {
  /* height: 875px; */
  /*  */
}
#col_lateral #col_devolucao h1,
#col_lateral #col_devolucao h2,
#col_lateral #col_devolucao h3,
#col_lateral #col_devolucao h4,
#col_lateral #col_devolucao h5,
#col_lateral #col_devolucao h6 {
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
}
#col_lateral #col_devolucao p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#col_lateral #col_devolucao .col_titulo {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 28px;
  width: 100%;
}
#col_lateral #col_devolucao .col_msg {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  margin-bottom: 12px;
}
#col_lateral #col_devolucao .col_ver_mais {
  color: #3483fa;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}
#col_lateral #col_devolucao #col_dev_wrap1 {
  border-bottom: 1px solid #adadad;
  margin-bottom: 30px;
}
#col_lateral #col_devolucao #col_dev_wrap2 {
  border-bottom: 1px solid #adadad;
  margin-bottom: 30px;
}
#col_lateral #col_devolucao #col_pague_wrap {
  background-color: #00a650;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 20px;
  width: 100%;
  margin-bottom: 20px;
}
#col_lateral #col_devolucao #col_pague_wrap #col_pague_icon {
  width: 10%;
}
#col_lateral #col_devolucao #col_pague_wrap #col_pague_msg {
  color: #fff;
}
#col_lateral #col_devolucao #col_mercado_credito {
  /*  */
}
#col_lateral #col_devolucao #col_mercado_credito > img {
  width: 89px;
  height: 23px;
}
#col_lateral #col_devolucao .col_tit_cartoes {
  margin: 24px 0 10px 0;
}
#col_lateral #col_devolucao #col_cartoes_credido {
  display: flex;
  /*  */
}
#col_lateral #col_devolucao #col_cartoes_credido .col_cartao {
  margin: 0 12px;
}
#col_lateral #col_devolucao #col_ver_mais_pagamentos {
  margin-top: 25px;
}

#erro-404 {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}
#erro-404 > header {
  height: 54px;
  width: 100%;
  background-color: #FFF159;
}
#erro-404 > header #logo {
  margin-top: 10px;
  margin-left: 5%;
  position: absolute;
}
#erro-404 > main {
  height: calc(100vh - 54px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#erro-404 > main #wrap {
  /* background-color: rgb(208, 195, 221); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#erro-404 > main #wrap #img {
  display: inherit;
  margin: 33px;
}
#erro-404 > main #wrap #titulo {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.774);
}
#erro-404 > main #wrap #titulo h5 {
  margin-top: 10px;
}
#erro-404 > main #wrap #ir-para-home {
  margin-top: 33px;
}
#erro-404 > main #wrap #ir-para-home a {
  color: rgba(0, 0, 0, 0.705);
}

@media (max-width: 1024px) {
  #erro-404 > header #logo {
    margin-left: 2%;
  }
}

/*# sourceMappingURL=main.css.map */
